<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/createProduct.css">
    <link rel="icon" href="../images/favicon.ico">
    <script src="../js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <header>
        <!--Barra de navegacion-->
        <nav class="navList">
            <ul class="bar">
                <li class="navItem">
                    <a href="ml"><img href="../views/index.html" class="logo" src="../images/logoNav.png"
                                      alt="logo" /></a>
                  </li>
                <li class="navItem"><a href="ml">Home</a></li>
                <li class="navItem"><a href=".html">Productos</a></li>
                <li class="navItem"><a href="/createProduct.html">Añadir producto</a></li>
            </ul>
            <ul class="profile">
                <li class="navItem"><button id="btnLogNav">Log in</button></li>
                <li class="navItem"><button id="btnRegisterNav">Register</button></li>
            </ul>
        </nav>
        <!--Fin Barra de navegacion-->
    </header>


    <main>
        <form id="form"> <!-- action="http://localhost:3000/polimarket/create" method="post" enctype="multipart/form-data" -->
            <!--
            <fieldset id="categorias">
                <li>
                    <article>
                        <img src="../images/LibroImg.png" alt="Imagen de Libro">
                        <p>Libros</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="../images/CompuImg.png" alt="Imagen de Laptop">
                        <p>Tecnología</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="../images/Producto3Img.png" alt="Imagen de Aula">
                        <p>Producto 3</p>
                    </article>
                </li>
            </fieldset>
            -->

            <fieldset id="cajaInformacion">
                <div id="informacion">
                    <h3>Complete la información de tu producto</h3>

                    <label for="tipo">Categoria</label>
                    <input list="tipos" id="tipo" name="type">
                    <datalist id="tipos">
                        <option value="Libros">
                        <option value="Tecnologia">
                        <option value="Producto 3">
                    </datalist>
                    <br>
                    <label for="titulo">Título de la publicación</label>
                    <input id="titulo" type="text" name="title">
                    <br>
                    <label for="estado">Estado</label>
                    <input list="opciones" id="estado" name="state">
                    <datalist id="opciones">
                        <option value="Nuevo">
                        <option value="Usado">
                    </datalist>
                    <br>
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" cols="30" rows="3" name="description"></textarea>
                    <br>
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" max="20" name="count">
                    <br>
                    <label for="precio">Precio $</label>
                    <input type="number" id="precio" name="value">
                    <br>
                    <input type="submit" id="agregar" value="Agregar">
                </div>

                <div id="dropzone">
                    <p>Agregar imagen</p>
                    <input type="file" id="imagen" name="image" accept="image/png, image/jpeg">
                </div>

            </fieldset>
        </form>
    </main>
    <!--
    <footer>
        <p>&copy; 2023 - Todos los derechos reservados</p>
    </footer>
    -->
</body>
<script src="../js/create.js"></script>
</html>